@model HospitalManagerWebApp.Models.Doctor

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h1 class="display-4 font-text">Edit Doctor Details</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DoctorID" />
            <input type="hidden" asp-for="ExtName" />
            <input type="hidden" asp-for="UserName" />
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label"></label>
                <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorName" class="control-label"></label>
                <input asp-for="DoctorName" class="form-control" />
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Doctor Details" class="btn btn-dark btn-block" />
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
