@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@700&display=swap" rel="stylesheet">
    <style>
        .font-text {
            font-family: 'Encode Sans SC', sans-serif;
        }
    </style>
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow">
                <div class="container">
                    <a class="navbar-brand text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa fa-hospital-o"></i> Manager
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a>
                            </li>
                            @if (User.IsInRole("clerk"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Departments" asp-action="Index"><i class="fa fa-tasks" aria-hidden="true"></i> Department</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Doctors" asp-action="Index"><i class="fa fa-tasks" aria-hidden="true"></i> Doctor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Schedules" asp-action="Index"><i class="fa fa-tasks" aria-hidden="true"></i> Schedule</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Bookings" asp-action="Index"><i class="fa fa-tasks" aria-hidden="true"></i> Bookings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  text-white font-weight-bold" asp-area="Identity" asp-page="/Account/RegisterClerk"><i class="fa fa-user-plus"></i> New Clerk</a>
                                </li>
                            }
                            else if (User.IsInRole("doctor"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="MyUpcomingBooking"><i class="fa fa-tasks" aria-hidden="true"></i> My Upcoming Appointment</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="AllSchedules"><i class="fa fa-tasks" aria-hidden="true"></i> Doctor Schedules</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="PerformBooking"><i class="fa fa-tasks" aria-hidden="true"></i> Booking</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="BookingHistory"><i class="fa fa-tasks" aria-hidden="true"></i> Booking History</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <div class="bg-white p-4">

        </div>
        <footer class="footer bg-dark">
            <div class="container text-center text-light p-1">
                &copy; 2021 - Hospital Manager
            </div>
        </footer>

    }
    else
    {
        @RenderBody()
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
